<%
var goal = campaign.goal;
var total = 0;
var amount = {
	demo: 0,
	alpha: 0,
	beta: 0,
	done: 0
};
for(var i=0;i<pledges.length;i++){
	var s = pledges[i].stages;
	amount.demo += s.demo.amount;
	total += s.demo.amount;
	amount.alpha += s.alpha.amount;
	total += s.alpha.amount;
	amount.beta += s.beta.amount;
	total += s.beta.amount;
	amount.done += s.done.amount;
	total += s.done.amount;
}
%>

<!DOCTYPE html>
<html>
	<head>
		<link href='/css/campaign.css' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div id="splash">

			<div id="title">
				<!--div style="position: relative;top: 27px;font-size:4em">NOTHING TO HIDE</div>
				<div style="position: relative;top: -5px;color:#999">an anti-stealth game where you are your own watchdog</div-->
			</div>

			<div id="video_banner">
				<div id="video_container">
					<canvas id="video_meta" width="800" height="350"></canvas>
					<div id="video_play" onclick="playVideo()"></div>
					<div id="video_trailer"></div>
				</div>
			</div>

			<div id="campaign_progress">
				<div id="campaign_progress_bar" style="width:<%=(total/goal)*100%>%"></div>
				<div id="campaign_progress_message">
					RAISED $<%=Math.round(total)%> OUT OF $<%=Math.round(goal)%> FROM <%=pledges.length%> BACKERS
				</div>
			</div>

			<a href="/pledge" style="text-decoration:none;display:block;width:400px;margin:0 auto">
				<div class="pledge_button">BACK THIS PROJECT</div>
			</a>

		</div>

		<!-- Details about the game -->
		<div class="project_title" style="letter-spacing:3px">
			A STORY OF INSECURITY IN SECURITY
		</div>
		<div class="project_info">
			<div>
				<div id="thumbnail" style="background-image:url(http://placekitten.com/g/400/501)"></div>
				<div id="blurb">
					<div class="title">story</div>
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(http://placekitten.com/g/400/502)"></div>
				<div id="blurb">
					<div class="title">puzzles</div>
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(http://placekitten.com/g/400/503)"></div>
				<div id="blurb">
					<div class="title">why make this game?</div>
				</div>
			</div>
		</div>

		<!-- How it's so open -->
		<div class="project_title" style="letter-spacing:2px">
			NOTHING TO HIDE HAS NOTHING TO HIDE
		</div>
		<div class="project_info">
			<div>
				<div id="thumbnail" style="background-image:url(http://placekitten.com/g/400/501)"></div>
				<div id="blurb">
					<div class="title">open source</div>
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(http://placekitten.com/g/400/502)"></div>
				<div id="blurb">
					<div class="title">open development</div>
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(http://placekitten.com/g/400/503)"></div>
				<div id="blurb">
					<div class="title">zero rights reserved</div>
				</div>
			</div>
		</div>

		<!-- Stuff about your pledge -->
		<div class="project_title" style="font-size:64px">
			BACKED BY THE PUBLIC, BUILT FOR THE PUBLIC
		</div>
		<div class="project_info">
			<div>
				<div id="thumbnail" style="background-image:url(http://placekitten.com/g/400/501)"></div>
				<div id="blurb">
					<div class="title">Progress pledge</div>
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(http://placekitten.com/g/400/502)"></div>
				<div id="blurb">
					<div class="title">Where does your money go?</div>
					60% NCASE (code & art) + 30% HALCYONIC (music) + 10% Charity.
					(Any extra: voices, rewards, web hosting, misc, comes out of my cut)
				</div>
			</div>
			<div>
				<div id="thumbnail" style="background-image:url(http://placekitten.com/g/400/503)"></div>
				<div id="blurb">
					<div class="title">Helps charity</div>
				</div>
			</div>
		</div>

		<!-- Pledge it, yo! -->
		<div id="pledging">

			<a href="/pledge" style="text-decoration:none;display:block;width:400px;margin:0 auto">
				<div class="pledge_button">BACK THIS PROJECT</div>
			</a>

		</div>

		<!-- A Little Goodbye Message-->
		<div id="goodbye">
			Thanks for viewing this campaign!
			<br>
			After all, we're all viewing you. 
			<div id="goodbye_bar"></div>
			<div id="goodbye_bar_2"></div>
			<div id="goodbye_bar_3"></div>
		</div>

		<!-- Big Splash Footer -->
		<div id="footer">
		</div>

	</body>
</html>

<script src="/js/campaign.js"></script>