<!DOCTYPE html>
<html>
	<head>
		<link href='/css/pledge_create.css' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div id="title_banner">
			<div id="title">SET YOUR PROGRESS PLEDGE</div>
			<div id="subtitle">
				<span style="color:#ccc">Your pledge won't be claimed all in one go.</span>
				Instead, I only claim part of your pledge for each milestone I hit, like so:

				<br><br>
				25% claimed if this initial campaign succeeds (March 2014)
				<br>
				25% claimed when I reach the alpha version (estimate: June 2014)
				<br>
				25% claimed when I reach the beta version (estimate: Sep 2014)
				<br>
				25% claimed when the game is finished (estimate: Dec 2014)

				<br><br>
				<span style="color:#ccc">You can cancel your pledge at any time.</span>
				Because I also update openly on my progress, I will be kept
				<span style="color:#ccc">transparent & accountable</span>.

			</div>
		</div>

		<div id="form">

			<!-- THE PROGRESS PLEDGE FORM -->
			<form id="progress_pledge" method="POST">

				<!-- BACKER INFORMATION -->

				<div class="header">
					Hi there! What's your name?
				</div>
				<input type="text" name="backer_name" class="text_input" placeholder="Jane Doe / website.com / @twitter"></input>
				<br>
				<span>(optional. only if you want to be credited in the game and/or site)</span>
				
				<br><br>

				<div class="header">
					What's your email? <i>(Please double check!)</i>
				</div>
				<!--You will only be sent notifications if/when a part of your pledge is claimed.-->
				<input type="email" name="backer_email" class="text_input" placeholder="your@email.com"></input>
				<br>
				<span>(never any spam. i'll only need your email to send notifications about your pledge)</span>
				
				<br><br><!--hr><br-->

				<!-- PLEDGE INFORMATION -->

				<div class="header">
					How much do you want to pledge, in total, over the next ten months?
				</div>
				$<input name="pledge_total" id="pledge_total" value="10" class="text_input" style="width:50px;"/>
				<span>($2 minimum, due to payment processor fees out of my control)</span>
				<br>
				<div style="margin-top:10px">
					<span>
					<b>Backer Perks:</b>
					<br>
					$10+ ... Get the final game before anyone else, and be credited in the game
					<br>
					$25+ ... Get early builds and soundtracks before anyone else
					<br>
					$50+ ... Get early and final modding tools before anyone else
					<br>
					$100+ ... Custom drawn character in Nothing To Hide's art style
					<br>
					$250+ ... Custom animated character in Nothing To Hide's art style
					</span>
				</div>

				<span style="display:none">
					<br><br>
					<div class="header">
						How would you like to split up your Progress Pledge?
					</div>
					<input type="radio" name="pledge_split" value="quarter" checked> 25% upfront, 25% for alpha, 25% for beta, 25% for full game
					<br>
					<input type="radio" name="pledge_split" value="half"> 50% upfront, 50% for full game
					<br>
					<input type="radio" name="pledge_split" value="all"> 100% upfront
				</span>

				<br><!--hr><br-->

				<!-- PAYMENT METHODS -->

				<div class="header">
					Finally, how would you like to pay, if/when your pledge is claimed?
				</div>

				<div style="overflow:hidden; margin-bottom:10px;">
					<div class="button" id="credit_card">Credit Card</div>
					<div class="button" id="paypal">PayPal</div>
					<div class="button" id="bitcoin">Bitcoin</div>
				</div>

				<span>
					NOTE: Credit cards won't be charged until a part of your pledge is claimed.
					However, paypal & bitcoin will have to held in escrow.
					If you choose those, it'll ask you for the full amount upfront, but don't worry - 
					you can cancel your pledge at any time, for any reason, and it'll automatically
					refund the unclaimed parts of your pledge.
					No questions asked.
				</span>

			</form>
		</div>
	</body>
</html>

<script>var STRIPE_PUBLIC_KEY = "<%=STRIPE_PUBLIC_KEY%>";</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="/js/pledge_create.js"></script>