<!DOCTYPE html>
<html>
	<head>
		<link href='/css/pledge_create.css' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div id="form">

			<!-- THE PROGRESS PLEDGE FORM -->
			<form id="progress_pledge" method="POST">

				<!-- BACKER INFORMATION -->

				<div class="header">
					Hi! What's your name? (If you want to be credited in the leaderboard)
				</div>
				<input type="text" name="backer_name" class="text_input" placeholder="Anonymous"></input>
				
				<br><br>

				<div class="header">
					What's your email? <i>(Please double check!)</i>
				</div>
				<!--You will only be sent notifications if/when a part of your pledge is claimed.-->
				<input type="email" name="backer_email" class="text_input" placeholder="your@email.com"></input>
				
				<br><br><hr><br>

				<!-- PLEDGE INFORMATION -->

				<div class="header">
					How much would you like to pledge in total?
				</div>
				$<input name="pledge_total" id="pledge_total" value="10.00" class="text_input" style="width:100px;"/>
				($2 minimum, due to Stripe's minimum limit)

				<br><br>

				<div class="header">
					How would you like to split up your Progress Pledge?
				</div>
				<input type="radio" name="pledge_split" value="quarter" checked> 25% upfront, 25% for alpha, 25% for beta, 25% for full game
				<br>
				<input type="radio" name="pledge_split" value="half"> 50% upfront, 50% for full game
				<br>
				<input type="radio" name="pledge_split" value="all"> 100% upfront

				
				<br><br><hr><br>

				<!-- PAYMENT METHODS -->

				<div class="header">
					Alright alright alright, let's pledge this!
					<br>(note: for paypal & bitcoin, funds must be held in escrow)
				</div>

				<div style="overflow:hidden">
					<div class="button" id="credit_card">Credit Card</div>
					<div class="button" id="paypal">PayPal</div>
					<div class="button" id="bitcoin">Bitcoin</div>
				</div>

			</form>
		</div>
	</body>
</html>

<script>var STRIPE_PUBLIC_KEY = "<%=STRIPE_PUBLIC_KEY%>";</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="/js/pledge_create.js"></script>