@font-face {
	font-family: 'Ostrich';
	src: url(/fonts/OstrichSans.woff) format('woff');
}
html,body{
	width:100%; height:100%;
	font-family: Ostrich;
	font-size: 30px;
}
body{
	margin:0;
	background: #eee;
}


/*******************/
/*** SPLASH PAGE ***/
/*******************/

#splash div, #splash span {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none; 
}

/*#title{
	cursor: default;
	text-align: center;
	font-size: 40px;
	height:205px;
}*/
#title{
	background:url(/img/logo.png);
	width:802px;
	height:203px;
	margin:0 auto;
}
#video_banner{
	width:100%;height:350px;
	margin-bottom: 20px;
	background: #333;
}
#video_container{
	width:800px; height:350px;
	position: relative;
	margin: 0 auto;
}
#video_meta{
	position: absolute;
	top:0; left:0;
	display: block;
}
#video_trailer{
	position: absolute;
	width:800px; height:350px;
	background: #000;
	display: none;
}
#video_play{
	width:100px; height:100px;
	background: url(/img/play_small.png);
	position: absolute;
	top:0; left:0; bottom:0; right:0;
	margin:auto;
	cursor: pointer;
}
#video_play:hover{
	background-position: -100px 0;
}
#campaign_progress{
	cursor: default;
	background: #000;
	width:800px; height:50px;
	margin: 0 auto;
	border-radius: 25px;
	position: relative;
}
#campaign_progress_bar{
	background: #cc2727;
	border-radius: 25px;
	width:42%; height:100%;
	min-width: 50px;
	position: absolute;
}
#campaign_progress_message{
	position: absolute;
	top:13px;
	text-align: center;
	width:100%;
	letter-spacing: 5px;
	color:#fff;
}
.pledge_button{
	background: #cc2727;
	color:#fff;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px 0;
	text-align: center;
	width: 400px;
	font-size: 50px;
	height: 40px;
	margin: 20px auto;
	letter-spacing: 3px;
}
.pledge_button:hover{
	background: #dc3737;
}

/********************/
/*** PROJECT INFO ***/
/********************/

.project_title {
	margin-top:50px;
	padding-top:50px;
	font-size: 70px;
	text-align: center;
	border-top: 5px dashed #ccc;
}
.project_info {
	width:800px;
	margin:10px auto;
}
.project_info > div{
	background: #fff;
	width:100%; height:250px;
	/*border: 1px solid #ccc;*/
	margin-bottom:20px;
	position: relative;
}
.project_info > div > #thumbnail{
	width:400px; height:100%;
	position: absolute;
	overflow: hidden;
	background-repeat: no-repeat;
	background-color: #000;
}
.project_info > div > #blurb{
	width:350px; height:200px;
	padding:25px;
	font-family: sans-serif;
	font-size:20px;
	position: absolute;
	overflow: hidden;
	font-weight: 100;
}
.project_info > div > #blurb > div.title{
	font-size:25px;
	margin-bottom: 10px;
	color:#000;
	font-weight: 400;
}
.project_info > div:nth-child(odd) > #thumbnail{ left:0; }
.project_info > div:nth-child(even) > #thumbnail{ right:0; }
.project_info > div:nth-child(odd) > #blurb{ right:0; }
.project_info > div:nth-child(even) > #blurb{ left:0; }


/******************/
/**** PLEDGING ****/
/******************/

#pledging{
	width:100%; height:400px;
	background: #191919;
	padding:30px 0;
}

/****************/
/**** FOOTER ****/
/****************/

#goodbye{
	padding-bottom:100px;
	font-size: 50px;
	text-align: center;
	padding-top: 100px;
	position: relative;
}
#goodbye_bar{
	width:100%; height:15px;
	position: absolute;
	bottom:-18px;
	background: #eee;
}
#goodbye_bar_2{
	width:100%; height:5px;
	position: absolute;
	bottom:-30px;
	background: #eee;
}
#goodbye_bar_3{
	width:100%; height:1px;
	position: absolute;
	bottom:-41px;
	background: #eee;
}
#footer{
	width:100%;
	height:100%;
	background-color: #000;
	background-image: url(http://placekitten.com/g/1200/601);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
}