@font-face {
	font-family: 'Ostrich';
	src: url(/fonts/OstrichSans.woff) format('woff');
}
body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	background: #eee;
}

#title_banner {
	background:#000; color:#fff;
	overflow: hidden;
	margin-top: 50px;
	padding-top:30px;
	padding-bottom: 30px;
}
#title {
	text-align:center; font-size:80px;
	font-family: Ostrich;
	letter-spacing: 5px;
}
#subtitle {
	width:740px;
	margin:0 auto;
	color:#666;
}

#form {
	width:700px;
	margin:50px auto;
}
#form span {
	color:#777;
	font-size: 16px;
}
#form hr {
	border: none;
	border-bottom: 3px dashed #bbb;
}
#form .header {
	margin-top: 15px;
	margin-bottom: 5px;
}
#form .button {
	float:left;
	background: #000;
	color: #fff;
	text-align: center;
	padding: 10px;
	width:170px;
	margin-right: 10px;
	border-radius: 100px;
	cursor: pointer;
}
#form .button:hover {
	background: #555;
}
#form .text_input {
	padding:10px; font-size:25px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	width:680px;
	border: 1px solid #bbb;
}